//
// Override global variables
//

// Theme colors
$primary: #25623f;
$primary-hover: #00220f;
$primary-light: #c4d4cb;
$primary-inverse: #ffffff;

$info: #a47444;

$success: #0669be;
$success-hover: #044f8e;
$success-light: #cadded;
$success-inverse: #ffffff;
